*
  font-family: 'Noto Sans TC', sans-serif
  
html,body
  width: 100%
  height: 100%
  padding: 0px
  margin : 0px
  display: flex
  justify-content: center
  align-items: center
  box-sizing: border-box

body
  background: linear-gradient(to bottom right, #0275D6, #0072BA)
  color: #454545
  padding: 24px

.container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: #fff
  border-radius: 20px
  padding: 24px
  width: 100%
  max-width: 1355px
  height: 92%
  max-height: 740px

.title
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 12px
  h1
    margin: 0
    font-size: 32px
    color: #0072BA
    line-height: 1.5
    letter-spacing: 1.5px
    font-weight: 700
  h2
    margin: 0
    font-size: 20px
    line-height: 1.5
    letter-spacing: 1.5px
    font-weight: 700

.qrcode-container
  display: flex
  justify-content: center
  align-items: center
  width: 275px
  height: 275px
  border: 1px solid #B6B6B6
  margin-bottom: 24px
  img
    width: 240px
    height: 240px

.introduction-container
  display: flex
  flex-direction: column
  align-items: center
  gap: 16px

.introduction-title
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  gap: 12px
  .line
    width: 100%
    max-width: 58.8px
    height: 1px
    background-color: rgba(#454545, .2)
  h3
    margin: 0
    color: #454545
    font-size: 16px
    line-height: 1.5
    letter-spacing: 1.5px

.introduction-list
  display: flex
  align-items: center
  gap: 24px
  .introduction-item
    display: flex
    flex-direction: column
    align-items: center
    gap: 8px
    padding: 0 10px
    img
      width: 44px
      height: 44px
    p
      margin: 0
      color: #454545
      font-size: 14px
      line-height: 1.4
      font-weight: 500