doctype html
html(lang="zh-tw")
  head
    meta(charset='UTF-8')
    title 翰林雲端學院│聯絡線上客服 了解課程及優惠方案
    link(rel='icon', href='./img/favicon.png', type='image/png')
    link(rel='stylesheet', href='./css/style.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap")
    
    // Google Tag Manager
    script(type='text/javascript').
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MXQFNDH');

    // GA and FBPixel
    script(src="https://s3-ap-northeast-1.amazonaws.com/ehanlin-web-resource/common_webcomponent/current/js/ehanlin-social.js")
    script(src='https://unpkg.com/current-device/umd/current-device.min.js')
    script.
      if (!device.desktop()) {
        location.replace("http://line.me/ti/p/@ehanlin")
      }
  body
    .container
      .title 
        h1 掃描QRcode
        h2 或搜尋 ID @079rutps
      .qrcode-container 
        img(src="./img/qrcode.png", alt="qrcode")
      .introduction-container
        .introduction-title
          .line
          h3 綁定帳號 享受專屬個人化服務
          .line
        .introduction-list
          .introduction-item
            img(src="./img/ticket.png", alt="ticket")
            p 領取優惠
          .introduction-item
            img(src="./img/customer-service.png", alt="customer-service")
            p 即時服務
          .introduction-item
            img(src="./img/mail.png", alt="mail")
            p 最新資訊
          .introduction-item
            img(src="./img/gift.png", alt="gift")
            p 贈獎活動

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    script(src='https://unpkg.com/current-device/umd/current-device.min.js')
    script(src='./js/index.js')
